@charset "UTF-8";
/*============================================================================================
      共通
=============================================================================================*/
body {
  font-family: YakuHanJP, 'Sarala', "Hiragino Sans", sans-serif;
  color: #212529;
}
p {
  line-height: 1.5;
}

/* Section
=====================================================*/
.section {
  width: 100%;
  min-height: 100vh;
}
.section:nth-child(2n) {
  background-color: #F9FBFE;
}
.section p {
  margin-bottom: 30px;
}

/* Card
=====================================================*/
.card.hoverable {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
.card.hoverable:hover {
  transform: scale(1.05, 1.05);
}

/* Image
=====================================================*/
.image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.image-wrapper:before {
  content: "";
  display: block;
  padding-top: 62%;
}
.image-wrapper .div-cover {
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*============================================================================================
      Navbar
=============================================================================================*/
nav {
  color: #212529;
  box-shadow: none;
  background-color: rgba(255,255,255,.7);
}
nav ul li a {
  color: #212529;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-backface-visibility:hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
.brand-logo {
  color: #212529 !important;
  font-size: 1.15rem !important;
  font-weight: bold;
}
.sidenav-trigger i{
  color: #212529;
}
.nav-list-sp{
  margin-top: 20px;
}
.close-icon {
  color: #212529;
  font-size: 2.5rem;
  right: 1rem;
  margin: 1rem auto;
  padding-left: 17rem;
}
.sidenav li > a {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-backface-visibility:hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
.sidenav li > a:hover {
  background-color: rgba(0,0,0,0.1);
}

/*============================================================================================
      Top
=============================================================================================*/
#top {
  min-height: 400px;
  height: calc(100vh - 110px);
  color: #ffffff;
  background-image: url(https://haya0502.github.io/myportfolio-ses/img/bg_top.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-content {
  margin-bottom: 10vh;
}
.top-content h1 {
  text-align: center !important;
  font-size: 4rem;
  line-height: 1.5;
  -webkit-text-stroke: 2px #000000;
}
.top-content h5 {
  text-align: center !important;
  font-size: 2rem;
  line-height: 1.5;
  -webkit-text-stroke: 1.5px #000000;
}

/* Scroll
=====================================================*/
@keyframes vertical {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
#top .scroll-to-bottom-btn a {
  height: 85px;
}
#top .scroll-to-bottom-btn a i {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-size: 70px;
  animation: vertical 1s ease-in-out infinite alternate;
}

/*============================================================================================
      About
=============================================================================================*/
#about h2 {
  color: #212529;
  margin-bottom: 3.5rem;
}
#about .about-image {
  display: block;
}

#about .about-image img {
  display: block;
  width: 100%;
  margin: 0 auto;
  border-radius: 100%;
  border: 2px solid #dcdcdc;
}

/*    Flex box
=====================================================*/
.flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.grid-3{
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.grid-9{
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.alignItemsCenter{
  -ms-flex-align: center!important;
  align-items: center!important;
}
.justifyContentCenter{
  -ms-flex-pack: center!important;
  justify-content: center!important;
}
@media (max-width: 992px){
  .grid-md-12{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .justifyContentCenter-md{
    -ms-flex-pack: center!important;
    justify-content: center!important;
  }
}

/* Table
=====================================================*/
table {
  font-size: 1.1rem !important;
  border-collapse: collapse;
}
th {
  padding: 8px;
  min-width: 80px;
}
td {
  padding: 8px;
}
@media (max-width: 992px) {
  th {
    text-align: center;
    display: block;

  }
  td {
    text-align: center;
    display: block;
  }
}

/*============================================================================================
      Projects
=============================================================================================*/
#projects h2 {
  color: #212529;
  margin-bottom: 3.5rem;
}
#projects .project-title {
  /* font-size: 1.2rem !important; */
  margin-bottom: 1.5rem;
}

/*============================================================================================
      Works
=============================================================================================*/
#works h2 {
  color: #212529;
  margin-bottom: 3.5rem;
}
#works .project-title {
  /* font-size: 0.5vmin !important; */
  margin-bottom: 1.5rem;
}

/*============================================================================================
      Study
=============================================================================================*/
#study h2 {
  color: #212529;
  margin-bottom: 3.5rem;
}
#study .project-title {
  /* font-size: 0.5vmin !important; */
  margin-bottom: 1.5rem;
}
/* layout align
=====================================================*/
@media only screen and (min-width: 600px){
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
}

/* Modal
=====================================================*/
.modal {
  max-height: 90%;
}
.modal .modal-content {
  padding: 10px 5px;
}
.project-title,
.modal-content p,
.modal-content img {
  margin-bottom: 1rem;
}
.modal-content p {
  font-size: 0.8rem;
}
.modal-content h4 {
  font-size: 1.2rem;
  line-height: 1.2;
}
.modal-content h5 {
  font-size: 1rem;
}
.modal-content h4,
.modal-content h5 {
  position: relative;
}
.modal-content h4:before,
.modal-content h5:before {
  content: "";
  display: block;
  border-top: solid 2px #1d809f;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.modal-content h4 span,
.modal-content h5 span {
  background: #fafafa;
  padding: 0 10px;
  position: relative;
  z-index: 2;
}
.modal {
  width: 90%;
}
.modal .mainImage,
.modal .thumbnails {
  text-align: center;
}
.modal .mainImage img {
  text-align: center;
  max-height: 350px;
}
@media only screen and (min-width: 600px){
  .modal .mainImage img {
    max-width: 500px;
  }
}
.modal .thumbnails img{
  object-fit: cover;
  object-position: top center;
  width: 70px;
  height: 75px;
}
.modal .close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 3;
}
.modal .close-button .btn-floating {
  box-shadow: none;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-backface-visibility:hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
.modal .close-button .btn-floating:hover {
  opacity: 0.7;
}

.content {
  cursor: pointer;
  position: relative;
  margin: 30px;
}

/*============================================================================================
      Footer
=============================================================================================*/
footer.footer-section {
  background-color: #212529;
  height: 100px;
}
footer {
  position: relative;
}
footer .container {
  position: relative;
  z-index: 2;
}
footer .copyright p {
  display: inline-block;
  color: #ffffff;
}

/* Scroll
=====================================================*/
footer .scroll-to-top {
  position: absolute;
  width: 100%;
  height: 50px;
  top: -40px;
  left: 0px;
  z-index: 1;
}
footer .scroll-to-top a {
  width: 100px;
  height: 100px;
  display: block;
  position: relative;
  top: 10px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #212529;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}
footer .scroll-to-top a i {
  position: relative;
  font-size: 100px;
  top: -15px;
  color: #fff;
}
footer .scroll-to-top a:hover {
  top: 0px;
}
